In [1]:
import pandas as pd
import numpy as np

## Read data

In [4]:
data = pd.read_csv("../influencers.txt", sep='\t')

In [6]:
data.head(10)

,Username,Category,#Followers,#Followees,#Posts
0,==============================================...,NaN,NaN,NaN,NaN
1,makeupbynvs,beauty,1432.0,1089.0,363.0
2,jaquelinevandoski,beauty,137600.0,548.0,569.0
3,anisaartistry,beauty,64644.0,289.0,391.0
4,rubina_muartistry,beauty,496406.0,742.0,887.0
5,beautyxabbi,beauty,2050.0,1423.0,751.0
6,vemakeup713,beauty,99226.0,613.0,536.0
7,glaminfusion,beauty,4717.0,506.0,287.0
8,paisleymattes,beauty,108193.0,1240.0,1008.0
9,meghanmakeup_,beauty,1430.0,1160.0,284.0

### How many catagories do we have?

In [7]:
data['Category'].value_counts()

fashion        11911
other           5720
travel          4210
family          4070
food            3565
beauty          1542
interior        1195
fitness         1133
pet              587
fashion 0.5        1
fasion             1
Name: Category, dtype: int64